// .demo-page {
//   padding: 24px;
//   > p {
//     font-size: 16px;
//     margin: 14px 0;
//   }
// }

.container {
  max-width: 1920;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
}
.head {
  width: 1920px;
  height: 1520px;
  background-image: url("img/banner_background.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.head_buttons {
  width: 50px;
  height: 106px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
  top: 42%;
  right: 0px;
  .head_button1 {
    width: 50px;
    height: 50px;
    background: #ffffff;
    box-shadow: 2px 2px 12px 0 rgba(18, 38, 101, 0.1);
    border-radius: 4px;
    padding: 15px;
    margin-top: 6px;
    cursor: pointer;

    .head_btn_img {
      width: 20px;
      height: 20px;
    }
  }
  .head_button2 {
    width: 50px;
    height: 50px;
    background: #ffffff;
    box-shadow: 2px 2px 12px 0 rgba(18, 38, 101, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    .head_btn_img {
      width: 25px;
      height: 25px;
    }
    .head_button2_txt {
      width: 50px;
      height: 12px;
      font-family: PingFangTC-Regular;
      font-size: 12px;
      color: #333333;
      line-height: 12px;
      text-align: center;
    }
  }
}

//--------------------- 顶部第1部分------------------
.head_1 {
  width: 1920px;
  height: 200px;
  .head_1_img {
    width: 667px;
    height: 88px;
    margin: 51px 627px 0px 626px;
  }
  .head_1_des {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
    .head_1_des_1 {
      width: 60px;
      height: 2px;
      margin: 17px 10px 17px 0px;
      background-image: linear-gradient(
        90deg,
        #f8dda7 4%,
        rgba(231, 206, 157, 0) 100%
      );
      transform: rotate(180deg);
      -ms-transform: rotate(180deg); /* IE 9 */
      -moz-transform: rotate(180deg); /* Firefox */
      -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
      -o-transform: rotate(180deg); /* Opera */
    }
    .head_1_des_txt {
      font-family: PingFangSC-Semibold;
      font-size: 26px;
      color: #eeb86e;
    }
    .head_1_des_2 {
      width: 60px;
      height: 2px;
      margin: 17px 0px 17px 10px;
      background-image: linear-gradient(
        90deg,
        #f8dda7 4%,
        rgba(231, 206, 157, 0) 100%
      );
    }
  }
}
//--------------------- 顶部第2部分------------------
.head_2 {
  width: 1920px;
  height: 141px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .head_2_btn {
    width: 70px;
    height: 141px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .head_2_btn_img {
      width: 70px;
      height: 70px;
      background-image: url("img/icon.svg");
    }
    .aaaa {
      width: 70px;
      height: 70px;
    }
    .head_2_btn_des_1 {
      width: 115px;
      height: 30px;

      margin-top: 11px;
      font-family: PingFangSC-Semibold;
      font-size: 22px;
      color: #ffffff;
    }
    .head_2_btn_des_2 {
      width: 75px;
      height: 25px;
      margin-top: 5px;
      font-family: PingFangSC-Regular;
      font-size: 18px;
      color: #eeb86e;
    }
  }
}
//--------------------- 顶部第3部分------------------
.head_3 {
  width: 1920px;
  height: 298px;
  margin-top: 60px;
  padding: 0px 360px 0px 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .head_3_1 {
    width: 350px;
    height: 260px;
    margin: 19px 0px 0px 0px;
    background-image: linear-gradient(-180deg, #f8dda7 0%, #eeb86e 100%);

    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .head_3_1_top {
      width: 129px;
      height: 35px;

      transform: rotate(-360deg);
      background: #a87529;
      box-shadow: 2px 4px 8px 0 rgba(225, 174, 115, 0.16);

      border-radius: 0px 0px 16px 16px;

      transform: rotate(-360deg);
      font-family: PingFangSC-Semibold;
      font-size: 22px;
      color: #ffffff;
      letter-spacing: 3.67px;
      text-align: center;
    }

    .head_3_1_mid {
      width: 199px;
      height: 33px;
      margin-top: 24px;
      font-family: PingFangSC-Semibold;
      font-size: 24px;
      color: #2b2c31;
      text-align: center;
    }
    .head_3_1_mid_top_margin {
      margin-top: 0px;
    }
    .head_3_1_price {
      width: 190px;
      height: 62px;
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      .head_3_1_price_icon {
        width: 24px;
        height: 33px;
        font-family: PingFangSC-Semibold;
        font-size: 24px;
        color: #de3033;
      }
      .head_3_1_price_num {
        width: 98px;
        height: 62px;
        font-family: PingFangSC-Semibold;
        font-size: 44px;
        color: #de3033;
        margin-left: 2px;
      }
      .head_3_1_price_unit {
        width: 60px;
        height: 33px;
        font-family: PingFangSC-Semibold;
        font-size: 24px;
        color: #de3033;
        text-align: left;
        margin-left: 4px;
      }
    }
    .head_3_1_btn {
      width: 140px;
      height: 40px;
      margin-top: 16px;
      border: 2px solid #2b2c31;
      border-radius: 20px;

      font-family: PingFangSC-Semibold;
      font-size: 20px;
      color: #363537;
      text-align: center;
      line-height: 35px;
      cursor: pointer;
    }
  }
  .head_3_2_area {
    width: 400px;
    height: 298px;
  }
  .head_3_2 {
    width: 400px;
    height: 298px;
    background-image: linear-gradient(-180deg, #fff0d5 0%, #ffd598 100%);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    left: -400px;
    .head_3_2_top {
      width: 129px;
      height: 35px;

      transform: rotate(-360deg);
      background: #a87529;
      box-shadow: 2px 4px 8px 0 rgba(225, 174, 115, 0.16);

      border-radius: 0px 0px 16px 16px;

      transform: rotate(-360deg);
      font-family: PingFangSC-Semibold;
      font-size: 22px;
      color: #ffffff;
      letter-spacing: 3.67px;
      text-align: center;
    }
    .head_3_2_tag {
      width: 84px;
      height: 28px;
      background-image: linear-gradient(0deg, #e3393c 0%, #ff8183 100%);

      opacity: 0.86;
      font-family: PingFangSC-Medium;
      font-size: 14px;
      color: #ffffff;
      text-align: center;
      line-height: 28px;

      border-radius: 15px 15px 15px 0px;
      align-self: flex-end;
      position: relative;
      right: 24px;
    }
    .head_3_2_mid {
      width: 215px;
      height: 40px;
      // margin-top: 28px;
      font-family: PingFangSC-Semibold;
      font-size: 28px;
      color: #2b2c31;
      text-align: center;
    }
    .head_3_2_price {
      width: 228px;
      height: 78px;
      margin-top: 16px;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      .head_3_2_price_icon {
        width: 28px;
        height: 40px;
        font-family: PingFangSC-Semibold;
        font-size: 28px;
        color: #de3033;
      }
      .head_3_2_price_num {
        width: 124px;
        height: 78px;
        font-family: PingFangSC-Semibold;
        font-size: 56px;
        color: #de3033;
        text-align: left;
        margin-left: 2px;
      }
      .head_3_2_price_unit {
        width: 70px;
        height: 40px;
        font-family: PingFangSC-Semibold;
        font-size: 28px;
        color: #de3033;
        margin-left: 6px;
      }
    }
    .head_3_2_btn {
      width: 140px;
      height: 40px;
      margin-top: 22px;

      background-image: linear-gradient(0deg, #2b2c31 0%, #483213 100%);
      border-radius: 20px;

      font-family: PingFangSC-Semibold;
      font-size: 20px;
      color: #eeb86e;
      line-height: 40px;
      cursor: pointer;
      text-align: center;
      box-shadow: 2px 6px 24px 0 rgba(46, 50, 68, 0.3);
    }
  }
  // head_3_1 hover 自身变化
  .head_3_1:hover {
    width: 350px;
    height: 260px;
    background-image: linear-gradient(-180deg, #fff0d5 0%, #ffd598 100%);

    .head_3_1_btn {
      background-image: linear-gradient(0deg, #2b2c31 0%, #483213 100%);
      border-radius: 20px;
      font-family: PingFangSC-Semibold;
      font-size: 20px;
      color: #eeb86e;
      cursor: pointer;
      box-shadow: 2px 6px 24px 0 rgba(46, 50, 68, 0.3);
    }
  }
  // head_3_1 hover head_3_2变化 兄弟元素
  .head_3_1:hover ~ .head_3_2_area > .head_3_2 {
    width: 350px;
    height: 260px;
    position: relative;
    top: 19px;
    left: -375px;
    background-image: linear-gradient(-180deg, #f8dda7 0%, #eeb86e 100%);

    .head_3_2_tag {
      display: none;
    }
    .head_3_2_mid {
      width: 199px;
      height: 33px;
      margin-top: 24px;
      font-family: PingFangSC-Semibold;
      font-size: 24px;
      color: #2b2c31;
      text-align: center;
    }
    .head_3_2_price {
      width: 190px;
      height: 62px;
      margin-top: 10px;
      .head_3_2_price_icon {
        width: 24px;
        height: 33px;
        font-size: 24px;
        color: #de3033;
      }
      .head_3_2_price_num {
        width: 98px;
        height: 62px;
        font-family: PingFangSC-Semibold;
        font-size: 44px;
        color: #de3033;
        margin-left: 2px;
      }
      .head_3_2_price_unit {
        width: 60px;
        height: 33px;
        font-family: PingFangSC-Semibold;
        font-size: 24px;
        color: #de3033;
        text-align: left;
        margin-left: 4px;
      }
    }
    .head_3_2_btn {
      margin-top: 16px;
      border: 2px solid #2b2c31;
      border-radius: 20px;
      font-family: PingFangSC-Semibold;
      font-size: 20px;
      color: #363537;
      background-image: none;
      cursor: pointer;
      line-height: 35px;
    }
  }
}
// ------------顶部 第4部分-----------------
.head_4_border {
  width: 1200px;
  height: 580px;
  margin-top: 100px;
  overflow: hidden;
  border-radius: 16px;

  background-image: linear-gradient(to bottom, #ffe9af, #ecc37f);

  display: flex;
  justify-content: center;
  align-items: center;
}
.head_4 {
  width: 1184px;
  height: 564px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.28);
  border-radius: 8px;
  // border: 8px solid;
  background-image: url("img/banner_background.png");
  background-size: 1920px 1521px;
  background-position: -368px -867px;

  display: flex;
  flex-direction: column;
  .head_4_1_icon {
    width: 175px;
    height: 165px;
    background-image: url("img/icon.svg");
    position: relative;
    top: -48px;
    left: -8px;
    z-index: 9;

    .head_4_1_icon_txt {
      width: 175px;
      height: 165px;
      padding-left: 30px;

      padding-top: 30px;
      transform: rotate(-45deg);
      font-family: PingFangSC-Semibold;
      font-size: 24px;
      color: #483214;
    }
  }
  .head_4_1s {
    width: 1184px;
    height: 270px;
    height: 270px;
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 163px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .head_4_1 {
      width: 246px;
      height: 222px;
      margin: 0px 20px 0px 20px;
      background-image: linear-gradient(-180deg, #f8dda7 0%, #eeb86e 100%);
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .head_4_1_top {
        width: 100px;
        height: 35px;

        transform: rotate(-360deg);
        background: #a87529;
        box-shadow: 2px 4px 8px 0 rgba(225, 174, 115, 0.16);

        border-radius: 0px 0px 16px 16px;

        transform: rotate(-360deg);
        font-family: PingFangSC-Semibold;
        font-size: 18px;
        color: #ffffff;
        letter-spacing: 3px;
        text-align: center;
      }
      .head_4_1_mid {
        width: 149px;
        height: 25px;
        margin-top: 22px;
        font-family: PingFangSC-Semibold;
        font-size: 18px;
        color: #2b2c31;
      }
      .head_4_1_price {
        width: 175px;
        height: 53px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        .head_4_1_price_icon {
          width: 18px;
          height: 25px;
          font-family: PingFangSC-Semibold;
          font-size: 18px;
          color: #de3033;
        }
        .head_4_1_price_num {
          width: 84px;
          height: 53px;
          font-family: PingFangSC-Semibold;
          font-size: 38px;
          color: #de3033;
          text-align: left;
          margin-left: 2px;
        }
        .head_4_1_price_unit {
          width: 69px;
          height: 25px;
          font-family: PingFangSC-Semibold;
          font-size: 18px;
          color: #de3033;
          text-align: left;
          margin-left: 4px;
        }
      }
      .head_4_1_btn {
        width: 120px;
        height: 36px;
        line-height: 32px;
        margin-top: 11px;
        border: 2px solid #2b2c31;
        border-radius: 20px;

        font-family: PingFangSC-Semibold;
        font-size: 16px;
        color: #363537;
        text-align: center;
        line-height: 32px;
        cursor: pointer;
      }
    }
    .head_4_1:hover {
      background-image: linear-gradient(-180deg, #fff0d5 0%, #ffd598 100%);
      .head_4_1_btn {
        background-image: linear-gradient(0deg, #2b2c31 0%, #483213 100%);
        border-radius: 20px;
        font-family: PingFangSC-Semibold;

        color: #eeb86e;
      }
    }
  }
  .head_4_2s {
    width: 1184px;
    height: 270px;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .head_4_1 {
      width: 246px;
      height: 222px;
      margin: 0px 20px 40px 20px;
      background-image: linear-gradient(-180deg, #f8dda7 0%, #eeb86e 100%);
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .head_4_1_top {
        width: 100px;
        height: 35px;

        transform: rotate(-360deg);
        background: #a87529;
        box-shadow: 2px 4px 8px 0 rgba(225, 174, 115, 0.16);

        border-radius: 0px 0px 16px 16px;

        transform: rotate(-360deg);
        font-family: PingFangSC-Semibold;
        font-size: 18px;
        color: #ffffff;
        letter-spacing: 3px;
        text-align: center;
      }
      .head_4_1_mid {
        width: 149px;
        height: 25px;
        margin-top: 22px;
        font-family: PingFangSC-Semibold;
        font-size: 18px;
        color: #2b2c31;
      }
      .head_4_1_price {
        width: 175px;
        height: 53px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        .head_4_1_price_icon {
          width: 18px;
          height: 25px;
          font-family: PingFangSC-Semibold;
          font-size: 18px;
          color: #de3033;
        }
        .head_4_1_price_num {
          width: 84px;
          height: 53px;
          font-family: PingFangSC-Semibold;
          font-size: 38px;
          color: #de3033;
          text-align: left;
          margin-left: 2px;
        }
        .head_4_1_price_unit {
          width: 69px;
          height: 25px;
          font-family: PingFangSC-Semibold;
          font-size: 18px;
          color: #de3033;
          text-align: left;
          margin-left: 4px;
        }
      }
      .head_4_1_btn {
        width: 120px;
        height: 36px;
        margin-top: 11px;
        border: 2px solid #2b2c31;
        border-radius: 20px;

        line-height: 32px;
        font-family: PingFangSC-Semibold;
        font-size: 16px;
        color: #363537;
        text-align: center;
        cursor: pointer;
      }
    }
    .head_4_1:hover {
      background-image: linear-gradient(-180deg, #fff0d5 0%, #ffd598 100%);
      .head_4_1_btn {
        background-image: linear-gradient(0deg, #2b2c31 0%, #483213 100%);
        border-radius: 20px;
        font-family: PingFangSC-Semibold;

        color: #eeb86e;
      }
    }
  }
}

// 企业VIP尊享权益  视频
.middle {
  width: 1920px;
  height: 4832px;
  // background-color: #f8dda7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .middle_title_img {
    width: 670px;
    height: 127px;
    margin-top: 79px;
    // margin:  79px 625px 0px 625px;
  }
}

.middle_1 {
  width: 1920px;
  height: 582px;
  padding: 0px 360px 0px 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .middle_1_left {
    width: 304px;
    height: 230px;
    // 为了让标题按钮按照ui稿子中一样上边距180下176
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    .middle_1_left_title {
      width: 304px;
      height: 53px;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .middle_1_left_title_1 {
        width: 228px;
        height: 53px;
        font-family: PingFangSC-Semibold;
        font-size: 38px;
        color: #2b2c31;
      }
      .middle_1_left_title_2 {
        width: 76px;
        height: 53px;
        font-family: PingFangSC-Semibold;
        font-size: 38px;
        color: #2b2c31;

        background: linear-gradient(to top, #88632f, #eeb86e 100%);
        background-clip: content-box;
        -webkit-background-clip: text;

        color: transparent;
      }
    }
    .middle_1_left_des {
      width: 252px;
      height: 25px;
      margin-top: 20px;
      font-family: PingFangSC-Regular;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.6);
    }
    .middle_1_left_btn {
      width: 160px;
      height: 48px;
      margin-top: 80px;
      background: #2e3244;
      border-radius: 30px;
      font-family: NotoSansHans-Black;
      font-size: 20px;
      color: #f0d590;
      text-align: center;
      line-height: 48px;
      cursor: pointer;
    }
    .middle_1_left_btn:hover {
      background: #2e3244;
      box-shadow: 2px 6px 24px 0 rgba(46, 50, 68, 0.3);
      border-radius: 30px;
      font-family: NotoSansHans-Black;
      font-size: 20px;
      color: #f0d590;
    }
  }
  .middle_1_right {
    width: 650px;
    height: 382px;
 
    background: #f3f5f7;
    box-shadow: 2px 8px 24px 0 rgba(0, 79, 255, 0.16);
    border-radius: 10px;
  }
}
.middle_2 {
  width: 1920px;
  height: 582px;
  padding: 0px 360px 0px 360px;
  // opacity: 0.8;
  background-color: #f6f7fb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url("img/middle_background.png");

  .middle_2_left_font {
    width: 680px;
    height: 382px;
    margin-bottom: 30px;
    .middle_2_left_font_background {
      width: 680px;
      height: 382px;
      border-radius: 10px;
   
    }
    .middle_2_left_font_video {
      width: 620px;
      height: 340px;
      position: relative;
      left: 147px;

      top: -305px;
      box-shadow: 2px 8px 24px 0 rgba(0, 79, 255, 0.16);
      border-radius: 10px;
    }
  }
  .middle_2_left {
    width: 680px;
    height: 382px;
    background: #f3f5f7;
    box-shadow: 2px 8px 24px 0 rgba(0, 79, 255, 0.16);
    border-radius: 10px;
  }
  .middle_2_left_2 {
    border-radius: 10px;
  }
  .middle_2_right {
    width: 339px;
    height: 230px;
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    .middle_2_right_title {
      width: 360px;
      height: 53px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .middle_2_right_title_1 {
        width: 107px;
        height: 53px;
        font-family: PingFangSC-Semibold;
        font-size: 38px;
        color: #2b2c31;
        text-align: right;
      }
      .middle_2_right_title_2 {
        width: 228px;
        height: 53px;
        margin-left: 4px;
        text-align: right;
        font-family: PingFangSC-Semibold;
        font-size: 38px;
        color: #2b2c31;
        // 彩色字体
        background: linear-gradient(to top, #88632f, #eeb86e 100%);
        background-clip: content-box;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
    .middle_2_right_des {
      width: 288px;
      height: 25px;
      margin-top: 20px;
      font-family: PingFangSC-Regular;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.6);
    }
    .middle_2_right_btn {
      width: 160px;
      height: 48px;
      margin-top: 80px;
      background: #2e3244;
      border-radius: 30px;
      font-family: NotoSansHans-Black;
      font-size: 20px;
      color: #f0d590;
      text-align: center;
      line-height: 48px;
      cursor: pointer;
    }
    .middle_2_right_btn:hover {
      background: #2e3244;
      box-shadow: 2px 6px 24px 0 rgba(46, 50, 68, 0.3);
      border-radius: 30px;
      font-family: NotoSansHans-Black;
      font-size: 20px;
      color: #f0d590;
    }
  }
}

// 常见问题 活动规则
.bottom {
  width: 1920px;
  height: 1334px;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.bottom_ques {
  width: 1920px;
  height: 667px;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .bottom_ques_title_img {
    width: 534px;
    height: 136px;
    // margin-top: 100px;
  }
  .bottom_ques_conts {
    width: 1920px;
    height: 411px;
    margin-top: 20px;
    padding: 0px 360px 0px 360px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    .bottom_ques_cont {
      width: 560px;
      height: 97x;
      margin-top: 40px;
      .bottom_ques_cont_q {
        width: 560px;
        height: 25px;
        opacity: 0.8;
        font-family: PingFangSC-Semibold;
        font-size: 18px;
        color: #000000;

        border-bottom-style: solid;
        border-bottom-color: #eeb86e;
        border-bottom-width: 5px;
      }
      .bottom_ques_cont_a {
        width: 560px;
        height: 52px;
        margin-top: 20px;
        opacity: 0.6;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #000000;
        text-align: left;
        line-height: 26px;
      }
    }
  }
}

.bottom_rule {
  width: 1920px;
  height: 447px;
  display: flex;
  margin-top: 120px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .bottom_rule_title_img {
    width: 534px;
    height: 136px;
  }
  .bottom_rule_conts {
    width: 845px;
    height: 280px;
    // margin-top: 31px;
    // padding: 0px 360px 0px 360px;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
    .bottom_rule_cont {
      width: 845px;
      height: 28x;
      margin-top: 28px;
      font-family: PingFangSC-Regular;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.6);
      line-height: 28px;
    }
    .bottom_rule_cont_1 {
      font-family: PingFangSC-Regular;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.6);
      line-height: 28px;
    }
    .bottom_rule_cont_2 {
      font-family: PingFangSC-Semibold;
      font-size: 20px;
      color: blue;
      line-height: 28px;
      cursor: pointer;
    }
  }
}

.ico .ico-sound .ico-skip .ico-skip {
  width: 80px;
  height: 30x;
}

.bottom_xuanfu {
  width: 100%;
  height: 100px;

  position: fixed;
  left: 0;
  bottom: 0; //这里换成top:0;就悬浮在头部
  z-index: 100;
}

// -----------------支付弹窗----
.container1 {
  width: 692px;
  height: 640px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.content {
  width: 660px;
  height: 640px;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.close_btn {
  width: 16px;
  height: 16px;
  margin-left: 16px;
  cursor: pointer;
}
.content_head_img {
  width: 660px;
  height: 68px;
}
// 支付内容
.pay_contents {
  width: 620px;
  height: 130.3px;
  // margin: 0px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  .pay_content {
    width: 179px;
    height: 112.3px;
    display: flex;
    flex-direction: column;
    .pay_content_tag {
      width: 60px;
      height: 22px;
      background: #fc491d;
      border-radius: 10px 15px 15px 0px;
      align-self: flex-end;
      position: relative;
      top: 10.3px;
      text-align: center;
      line-height: 22px;
    }
    .pay_content_detail {
      width: 150px;
      height: 90px;
      display: flex;
      background: #ffffff;
      // border: 2px solid #eeb86e;
      // border-radius: 6px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url("./img/icon.svg");
      .pay_content_detail_title {
        width: 71px;
        height: 14px;
        font-family: NotoSansHans-Regular;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.6);
      }
      .pay_content_detail_price {
        width: 74px;
        height: 40px;
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        .pay_content_detail_price_icon {
          width: 10px;
          height: 40px;
          font-family: PingFangSC-Semibold;
          font-size: 16px;
          color: #88632f;
        }
        .pay_content_detail_price_num {
          width: 62px;
          height: 40px;
          font-family: PingFangSC-Semibold;
          font-size: 28px;
          color: #88632f;
          margin-left: 2px;
        }
      }
    }
  }
}
// 支付方式
.pay_way {
  width: 620px;
  //   height: 270px;
  padding: 0px 0px 0px 0px;
  background: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .pay_way_btns {
    width: 620px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .pay_way_btn {
      width: 160px;
      height: 48px;
      padding: 13px 42px 13px 42px;
      background: #f3f4f9;
      border: 1px solid #e6e6e6;
      font-family: PingFangSC-Regular;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.6);
      cursor: pointer;
    }
    .pay_way_btn_chosed {
      width: 160px;
      height: 48px;
      padding: 13px 42px 13px 42px;
      background: #ffffff;
      border-bottom: none;
    }
  }
  // 快捷支付
  .quick_pay_detail {
    width: 620px;
    height: 222px;

    border: 1px solid #e6e6e6;
    border-top: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .quick_pay_detail_QR_code {
      width: 120px;
      height: 121px;
      background-color: black;
      color: white;
    }
    .quick_pay_detail_info {
      width: 132px;
      height: 100px;
      margin-left: 36px;
      .quick_pay_detail_info_price {
        width: 116x;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        .quick_pay_detail_info_price_icon {
          width: 10px;
          height: 40px;
          font-family: PingFangSC-Semibold;
          font-size: 16px;
          color: #de3033;
        }
        .quick_pay_detail_info_price_num {
          width: 104px;
          height: 40px;
          margin-left: 2px;
          font-family: PingFangSC-Semibold;
          font-size: 28px;
          color: #de3033;
        }
      }
      .quick_pay_detail_info_des {
        width: 135px;
        height: 14px;
        font-family: NotoSansHans-Regular;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.4);
        text-align: center;
      }
      .quick_pay_detail_info_imgs {
        width: 64px;
        height: 24px;
        display: flex;
        flex-direction: row;
        margin-top: 14px;
        .quick_pay_detail_info_img {
          width: 24px;
          height: 24px;
          background-image: url("img/icon.svg");
          cursor: pointer;
        }
      }
    }
  }
  // 余额支付
  .balance_pay_detail {
    width: 620px;
    height: 222px;
    border: 1px solid #e6e6e6;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .balance_pay_detail_info {
      width: 395px;
      height: 40px;
      margin-top: 47px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      .balance_pay_detail_info_txt {
        width: 80px;
        height: 22px;
        font-family: PingFangSC-Regular;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        line-height: 22px;
      }

      .balance_pay_detail_info_price_icon {
        width: 10px;
        height: 40px;
        font-family: PingFangSC-Semibold;
        font-size: 16px;
        color: #de3033;
      }
      .balance_pay_detail_info_price_num {
        width: 104px;
        height: 40px;
        margin-left: 2px;
        font-family: PingFangSC-Semibold;
        font-size: 28px;
        color: #de3033;
      }
    }
    .balance_pay_btn {
      width: 120px;
      height: 40px;
      margin-top: 50px;
      background: #eeb86e;
      border-radius: 4px;
      font-family: PingFangSC-Medium;
      font-size: 18px;
      color: #ffffff;
      letter-spacing: 0;
      line-height: 40px;
      padding-left: 24px;
      cursor: pointer;
    }
  }
  // 对公转账
  .company_pay_detail {
    width: 620px;
    height: 222px;

    border: 1px solid #e6e6e6;
    border-top: none;
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .company_pay_detail_info1 {
      width: 620px;
      height: 14px;
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      font-family: NotoSansHans-Regular;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.8);
      .company_pay_detail_info1_1 {
        width: 70px;
        height: 14px;
      }
      .company_pay_detail_info1_2 {
        width: 224px;
        height: 14px;
        margin-left: 60px;
      }
    }
    .company_pay_detail_info2 {
      width: 149px;
      height: 24px;

      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      .company_pay_detail_info2_1 {
        width: 42px;
        height: 24px;
        font-family: NotoSansHans-Regular;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.8);
        line-height: 21px;
      }
      .company_pay_detail_info2_2 {
        width: 93px;
        height: 24px;

        font-family: NotoSansHans-Bold;
        font-size: 24px;
        color: #de3033;
        line-height: 21px;
      }
      .company_pay_detail_info2_3 {
        width: 14px;
        height: 24px;
        font-family: NotoSansHans-Regular;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.8);
        line-height: 21px;
      }
    }

    .company_pay_detail_info3 {
      width: 370px;
      height: 32px;
      margin-top: 23px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      align-items: baseline;
      .company_pay_detail_info_btn {
        width: 148px;
        height: 32px;
        padding-left: 18px;
        background: #eeb86e;
        border-radius: 4px;
        line-height: 32px;
        font-family: NotoSansHans-Medium;
        font-size: 14px;
        color: #ffffff;
        letter-spacing: 0;
        cursor: pointer;
      }
      .company_pay_detail_info_btn_des {
        width: 210px;
        height: 12px;
        font-family: NotoSansHans-Regular;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.4);
        margin-left: 12px;
      }
    }
    .company_pay_detail_info4 {
      width: 570px;
      height: 14px;
      margin-top: 20px;
      font-family: NotoSansHans-Regular;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.4);
      line-height: 12px;
    }
  }
}
// 支付弹窗底部按钮
.pay_power {
  width: 620px;
  height: 110px;

  .pay_power_title {
    width: 80px;
    height: 22px;
    margin-top: 20px;
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
  }
  .pay_power_area {
    width: 620px;
    height: 68px;
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    justify-content: space-around;

    .pay_power_item {
      width: 75px;
      height: 58px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .pay_power_item_img {
        width: 32px;
        height: 32px;
        // opacity: 0.24;
        // background: #eeb86e;
        background-image: url("./img/icon.svg");
        border-radius: 50px;
      }
      .pay_power_item_txt {
        width: 75px;
        height: 20x;
        margin-top: 6px;
      }
    }
  }
}
.vip_agreement {
  width: 60px;
  height: 20px;
  margin: 20px 0px 23px 0px;
  opacity: 0.6;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
}
